* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cleafix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	height: 70px;
	width: 100%;
	background-color: #EC715F;
}

.headline {
	width: 1024px;
	margin: 0 auto;
}

.mysite {
	height: 70px;
	position: absolute;
}

.nav {
	text-align: right;
}
.nav-list {
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	color: #FAFAFA;
	font-size: 16px;
}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: 100% 100%;
}

.title {
	font-size: 64px;
	color: #FAFAFA;
	padding-top: 200px;
	text-align: center;
}

.text {
	font-size: 20px;
	color: #fafafa;
	padding-top: 10px;
	text-align: center;
}


